<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.11/tailwind.min.css">
    <title>Herkul - Conferencing and telephony in the cloud</title>
</head>
<body>
    <div class="absolute logo_large" style="background: url('/img/logo_large.svg'); background-repeat: no-repeat; background-size: contain; background-position-x: center; background-position-y: center;"></div>
    <button id="new_room" class="ease-in-out hover:shadow-md"><p>CREATE A ROOM</p></button>
    <button id="connexion_room" class="ease-in-out hover:shadow-md"><p>JOIN A ROOM</p></button>
    <p class="credit">©️2021 - 2022 | Herkul</p>
    <script src="/js/index.js"></script>
</body>
</html>